@import 'compass'
@import 'compass/reset'


$font-size: 16
// Your base font-size in pixels
$em: $font-size / 1em
// Shorthand for outputting ems


$theme-red: #910000


@import 'playing-cards.sass'


body
  font:
    family: "Helvetica Neue", "Roboto", Helvetica, sans-serif

  color: #FFF

h1, h2
  text-align: center
  font:
    size: 24/$em
    weight: 500

h3,h4,h5
  margin: 10/$em 0
  text-align: center
  text-decoration: underline
  font:
    size: 20/$em
    weight: 200

h6
  text-align: center
  color: #FFF
  font-size: 40%
  a.code
    color: inherit

button
  cursor: pointer
  border: 0
  +border-radius(4/$em)
  +text-shadow(#FFF 1/$em 1/$em -2/$em)
  color: $theme-red
  background: url(/img/button.jpg)
  background-size: 80/$em 40/$em
  display: block
  margin: 10/$em auto
  width: 80/$em
  height: 40/$em
  font-size: 16/$em
  &:active, &:hover
    opacity: 0.8
  &.big
    background-size: 160/$em 44/$em
    width: 160/$em
    height: 44/$em

  span.title
    font:
      size: 14/$em
      weight: bold

div.ng-view
  overflow: scroll
  position: relative
  margin: 0 auto
  background: url(/img/bg-image.jpg) no-repeat
  background-size: 100% 100%

//
// Home related
//

input.username-input
  display: block
  width: 240/$em
  height: 20/$em
  margin: 10/$em auto
  font:
    size: 18/$em
    weight: bold

div.avatar-picker
  width: 290/$em
  margin: 0 auto
  overflow: scroll

div.avatar-preview
  cursor: pointer
  float: left
  margin: 0 10/$em 10/$em 0
  border: 1/$em solid #e2e2e2
  width: 88/$em
  height: 88/$em
  background-color: #FFF
  &:nth-child(3n + 1)
    margin-right: 0

img.avatar-option
  display: block
  width: 88/$em
  height: 88/$em

//
// Lobby
//
ul.games-list
  li.game
    width: 280/$em
    margin: 10/$em auto
    clear: both
    overflow: hidden
    img.avatar
      margin-right: 10/$em
      +border-radius(20/$em)
      border: 2/$em solid #333
      background-color: #FFF
      width: 40/$em
      height: 40/$em
      display: block
      float: left
    strong.player-name
      float: left
      display: block
      width: 125/$em
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      line-height: 40/$em
      margin-right: 10/$em
    button.join
      float: right
      margin: 0

img.loader
  display: block
  width: 32/$em
  height: 32/$em
  margin: 10/$em auto
  opacity: 0.9

//
// Game related
//

div.deck-of-cards
  //display: none
  position: relative
  -webkit-perspective: 1000

div.card
  margin: 5/$em
  width: 68/$em
  height: 95/$em
  position: absolute
  float: left
  -webkit-transform-style: preserve-3d
  -webkit-transition: -webkit-transform 0.66s linear, top 0.66s linear, left 0.66s linear, opacity 0.2s linear

  &.flipped-true
    -webkit-transform: rotatey(180deg)
  &:active
    opacity: 0.65
  .face
    -webkit-backface-visibility: hidden
    //-webkit-border-radius: 4%
    position: absolute
    width: 100%
    height: 100%
    &.back
      -webkit-transform: rotatey(180deg)
      box-sizing: border-box
    div.design
      font-size: 50%
      +border-radius(4/$em)

div.high-low-count
  position: absolute
  top: 130/$em
  left: 15/$em
  background: rgba(255,255,255, 0.8)
  width: 60/$em
  color: $theme-red
  span.title
    display: block
    text-align: center
    font:
      size: 8/$em
      weight: bold
  span.value
    display: block
    text-align: center


div.hud
  //border: 1/$em solid #e2e2e2
  position: absolute

  div.username
    position: relative
    top: 8/$em
    left: 40/$em
    span.title
      font-size: 12/$em

  div.avatar
    float: left
    position: relative
    z-index: 2
    width: 40/$em
    height: 40/$em

  img.avatar
    +border-radius(20/$em)
    border: 2/$em solid #333
    width: 100%
    height: 100%
    background-color: #FFF

  div.info-container
    float: left
    position: relative
    top: 10/$em
    left: -12/$em
    width: 85/$em

    div.hit-points-container
      border: 1/$em solid #9b8566
      +border-radius(0 4/$em 4/$em 0)
      width: 85/$em
      height: 16/$em
      background: url(/img/hp-bg.jpg)

    div.hit-points
      float: left
      background: $theme-red
      width: 100%
      height: 16/$em
      line-height: 16/$em
      color: #FFF
      +border-radius(0 4/$em 4/$em 0)
      -webkit-transition: width 0.36s linear
      span.value
        display: block
        float: right
        margin: 0 6/$em
        font-size: 11/$em

    div.hand-info
      float: left
      clear: both
      span.value
        display: block
        text-indent: 22/$em
        font:
          weight: bold
          size: 14/$em

div.move-options
  position: absolute
  top: 160/$em
  left: 106/$em

div.player-you
  top: 300/$em
  left: 190/$em

div.player-opponent
  top: 20/$em
  left: 190/$em

div.effect
  position: absolute
  width: 30/$em
  height: 30/$em
  color: $theme-red
  span.value
    font-size: 20/$em

.effect-enter-setup
  +transition(all 0.6s ease)
  opacity: 0
  +translateY(0)
  &.effect-enter-start
    +translateY(-50/$em)
    opacity: 1

.effect-leave-setup
  +transition(all 0.6s ease)
  opacity: 1
  +translateY(-50/$em)
  &.effect-leave-start
    +translateY(-150/$em)
    opacity: 0

button.quit
  position: absolute
  bottom: 10/$em
  right: 10/$em