@import 'compass'
@import 'compass/reset'


$font-size: 16
// Your base font-size in pixels
$em: $font-size / 1em
// Shorthand for outputting ems


$theme-red: #910000


@import 'playing-cards.sass'


body
  font:
    family: "Helvetica Neue", "Roboto", Helvetica, sans-serif

  color: #FFF

h1, h2
  text-align: center
  font:
    size: 24/$em
    weight: 500

h3
  margin: 10/$em 0
  text-align: center
  font:
    size: 20/$em
    weight: 200

button
  cursor: pointer
  border: 0
  +border-radius(4/$em)
  +text-shadow(#FFF 1/$em 1/$em -2/$em)
  color: $theme-red
  background: url(/img/button.jpg)
  background-size: 80/$em 40/$em
  display: block
  margin: 10/$em auto
  width: 80/$em
  height: 40/$em
  font:
    size: 16/$em
    weight: bold
  &:active, &:hover
    opacity: 0.8

div.ng-view
  overflow: scroll
  position: relative
  margin: 0 auto
  background: url(/img/bg-image.jpg) no-repeat
  background-size: 100% 100%

//
// Home related
//

input.username-input
  display: block
  width: 240/$em
  height: 20/$em
  margin: 10/$em auto
  font:
    size: 18/$em
    weight: bold

div.avatar-picker
  width: 290/$em
  margin: 0 auto
  overflow: scroll

div.avatar-preview
  cursor: pointer
  float: left
  margin: 0 10/$em 10/$em 0
  border: 1/$em solid #e2e2e2
  width: 88/$em
  height: 88/$em
  &:nth-child(3n + 1)
    margin-right: 0

img.avatar-option
  display: block
  width: 88/$em
  height: 88/$em



//
// Game related
//

div.deck-of-cards
  //display: none
  position: relative
  -webkit-perspective: 1000


div.card
  margin: 5/$em
  width: 68/$em
  height: 95/$em
  position: absolute
  float: left
  -webkit-transform-style: preserve-3d
  -webkit-transition: -webkit-transform 0.66s linear, top 0.66s linear, left 0.66s linear, opacity 0.2s linear

  &.flipped-true
    -webkit-transform: rotatey(180deg)
  &:active
    opacity: 0.65
  .face
    -webkit-backface-visibility: hidden
    //-webkit-border-radius: 4%
    position: absolute
    width: 100%
    height: 100%
    &.back
      -webkit-transform: rotatey(180deg)
      box-sizing: border-box
    div.design
      font-size: 50%
      +border-radius(4/$em)

div.hud
  //border: 1/$em solid #e2e2e2
  position: absolute

  div.username
    position: relative
    top: 8/$em
    left: 40/$em
    span.title
      font-size: 12/$em

  div.avatar
    float: left
    position: relative
    z-index: 2
    width: 40/$em
    height: 40/$em

  img.avatar
    +border-radius(20/$em)
    border: 2/$em solid #333
    width: 100%
    height: 100%
    background-color: #FFF

  div.info-container
    float: left
    position: relative
    top: 10/$em
    left: -12/$em
    width: 85/$em

    div.hit-points-container
      border: 1/$em solid #9b8566
      +border-radius(0 4/$em 4/$em 0)
      width: 85/$em
      height: 16/$em

    div.hit-points
      float: left
      background: $theme-red
      width: 100%
      height: 16/$em
      line-height: 16/$em
      color: #FFF
      +border-radius(0 4/$em 4/$em 0)
      span.value
        display: block
        float: right
        margin: 0 6/$em
        font-size: 11/$em

    div.hand-info
      float: left
      clear: both
      span.value
        display: block
        text-indent: 22/$em
        font:
          weight: bold
          size: 14/$em

div.move-options
  position: absolute
  top: 160/$em
  left: 106/$em

div.player-you
  top: 300/$em
  left: 190/$em

div.player-opponent
  top: 20/$em
  left: 190/$em