div(class="game-container")
  div(class="deck-of-cards")
    div(class="card suit-{{card.suit}} value-{{card.value}} flipped-{{card.isFlipped}}", ng-repeat="card in game.table.allCards", ng-style="cardStyles(card)")
      div.front.face
        div(class="design sprite card-back")
      div.back.face
        div(class="design sprite {{card.suit}}-{{card.value}}")

  div.hud-container
    div.hud.player-you
      div.username
        span.title {{username(true)}}
      div.avatar
        img.avatar(ng-src="{{avatar(true)}}")
      div.info-container
        div.hit-points-container
          div.hit-points(ng-style="hpBarStyles(true)")
            span.value {{playerHp(true)}}
        div.hand-info
          span.value {{handValue(true)}}

    div.hud.player-opponent
      div.username
        span.title {{username(false)}}
      div.avatar
        img.avatar(ng-src="{{avatar(false)}}")
      div.info-container
        div.hit-points-container
          div.hit-points(ng-style="hpBarStyles(false)")
            span.value {{playerHp(false)}}
        div.hand-info
          span.value {{handValue(false)}}

  div.move-options
    button.move-option.hit(ng-click="playerHit()")
      span.title Hit
    button.move-option.stay(ng-click="playerStay()")
      span.title Stay