div.view.lobby-container

  h2 Welcome, {{username}}

  //button(class="back hidden-{{isInRoom}}", ng-click="mainMenu()")
    span.title Back

  div(ng-switch on="isInRoom")
    div.lobby-options(ng-switch-default)
      div.main-options
        button.big.new-account(ng-click="newUser()")
          span.title Change User

        h5
          span.title New Game

        button.big.coop-computer(ng-click="singlePlayer()")
          span.title Vs AI

        button.big.coop-new(ng-click="newRoom()")
          span.title Vs Human

      div.available-games
        h5
          span.title Join a Game
        ul.games-list
          li.game(ng-repeat="game in games")
            img.avatar(ng-src="/img/{{game.player1.avatar}}")
            strong.player-name Vs. {{game.player1.username}}
            button.join(ng-click="joinGame(game)")
              span.title Join


    div.lobby-room(ng-switch-when="true")
      h2 One moment while a partner joins your game...
      img.loader(src="/img/ajax-loader.gif")
      button.coop-cancel(ng-click="cancelRoom()")
        span.title Cancel


  h6
    a.code(href="http://github.com/bitwit/rpgblackjack")
      span.title Code available on GitHub