/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 2, ../sass/playing-cards.sass */
.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/img/playing-cards.png);
  background-size: 64em 128em; }

/* line 10, ../sass/playing-cards.sass */
.card-back {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -106.375em; }

/* line 16, ../sass/playing-cards.sass */
.clubs-10 {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -95.75em; }

/* line 22, ../sass/playing-cards.sass */
.clubs-2 {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -85.125em; }

/* line 28, ../sass/playing-cards.sass */
.clubs-3 {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -74.5em; }

/* line 34, ../sass/playing-cards.sass */
.clubs-4 {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -63.875em; }

/* line 40, ../sass/playing-cards.sass */
.clubs-5 {
  width: 7.5em;
  height: 10.5em;
  background-position: -53.5em -53.25em; }

/* line 46, ../sass/playing-cards.sass */
.clubs-6 {
  width: 7.5em;
  height: 10.5em;
  background-position: -45.875em -53.25em; }

/* line 52, ../sass/playing-cards.sass */
.clubs-7 {
  width: 7.5em;
  height: 10.5em;
  background-position: -38.25em -53.25em; }

/* line 58, ../sass/playing-cards.sass */
.clubs-8 {
  width: 7.5em;
  height: 10.5em;
  background-position: -30.625em -53.25em; }

/* line 64, ../sass/playing-cards.sass */
.clubs-9 {
  width: 7.5em;
  height: 10.5em;
  background-position: -23em -53.25em; }

/* line 70, ../sass/playing-cards.sass */
.clubs-A {
  width: 7.5em;
  height: 10.5em;
  background-position: -15.375em -53.25em; }

/* line 76, ../sass/playing-cards.sass */
.clubs-J {
  width: 7.5em;
  height: 10.5em;
  background-position: -7.75em -53.25em; }

/* line 82, ../sass/playing-cards.sass */
.clubs-K {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -53.25em; }

/* line 88, ../sass/playing-cards.sass */
.clubs-Q {
  width: 7.5em;
  height: 10.5em;
  background-position: -53.5em -42.625em; }

/* line 94, ../sass/playing-cards.sass */
.diamonds-10 {
  width: 7.5em;
  height: 10.5em;
  background-position: -45.875em -42.625em; }

/* line 100, ../sass/playing-cards.sass */
.diamonds-2 {
  width: 7.5em;
  height: 10.5em;
  background-position: -38.25em -42.625em; }

/* line 106, ../sass/playing-cards.sass */
.diamonds-3 {
  width: 7.5em;
  height: 10.5em;
  background-position: -30.625em -42.625em; }

/* line 112, ../sass/playing-cards.sass */
.diamonds-4 {
  width: 7.5em;
  height: 10.5em;
  background-position: -23em -42.625em; }

/* line 118, ../sass/playing-cards.sass */
.diamonds-5 {
  width: 7.5em;
  height: 10.5em;
  background-position: -15.375em -42.625em; }

/* line 124, ../sass/playing-cards.sass */
.diamonds-6 {
  width: 7.5em;
  height: 10.5em;
  background-position: -7.75em -42.625em; }

/* line 130, ../sass/playing-cards.sass */
.diamonds-7 {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -42.625em; }

/* line 136, ../sass/playing-cards.sass */
.diamonds-8 {
  width: 7.5em;
  height: 10.5em;
  background-position: -53.5em -32em; }

/* line 142, ../sass/playing-cards.sass */
.diamonds-9 {
  width: 7.5em;
  height: 10.5em;
  background-position: -45.875em -32em; }

/* line 148, ../sass/playing-cards.sass */
.diamonds-A {
  width: 7.5em;
  height: 10.5em;
  background-position: -38.25em -32em; }

/* line 154, ../sass/playing-cards.sass */
.diamonds-J {
  width: 7.5em;
  height: 10.5em;
  background-position: -30.625em -32em; }

/* line 160, ../sass/playing-cards.sass */
.diamonds-K {
  width: 7.5em;
  height: 10.5em;
  background-position: -23em -32em; }

/* line 166, ../sass/playing-cards.sass */
.diamonds-Q {
  width: 7.5em;
  height: 10.5em;
  background-position: -15.375em -32em; }

/* line 172, ../sass/playing-cards.sass */
.hearts-10 {
  width: 7.5em;
  height: 10.5em;
  background-position: -7.75em -32em; }

/* line 178, ../sass/playing-cards.sass */
.hearts-2 {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -32em; }

/* line 184, ../sass/playing-cards.sass */
.hearts-3 {
  width: 7.5em;
  height: 10.5em;
  background-position: -53.5em -21.375em; }

/* line 190, ../sass/playing-cards.sass */
.hearts-4 {
  width: 7.5em;
  height: 10.5em;
  background-position: -45.875em -21.375em; }

/* line 196, ../sass/playing-cards.sass */
.hearts-5 {
  width: 7.5em;
  height: 10.5em;
  background-position: -38.25em -21.375em; }

/* line 202, ../sass/playing-cards.sass */
.hearts-6 {
  width: 7.5em;
  height: 10.5em;
  background-position: -30.625em -21.375em; }

/* line 208, ../sass/playing-cards.sass */
.hearts-7 {
  width: 7.5em;
  height: 10.5em;
  background-position: -23em -21.375em; }

/* line 214, ../sass/playing-cards.sass */
.hearts-8 {
  width: 7.5em;
  height: 10.5em;
  background-position: -15.375em -21.375em; }

/* line 220, ../sass/playing-cards.sass */
.hearts-9 {
  width: 7.5em;
  height: 10.5em;
  background-position: -7.75em -21.375em; }

/* line 226, ../sass/playing-cards.sass */
.hearts-A {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -21.375em; }

/* line 232, ../sass/playing-cards.sass */
.hearts-J {
  width: 7.5em;
  height: 10.5em;
  background-position: -53.5em -10.75em; }

/* line 238, ../sass/playing-cards.sass */
.hearts-K {
  width: 7.5em;
  height: 10.5em;
  background-position: -45.875em -10.75em; }

/* line 244, ../sass/playing-cards.sass */
.hearts-Q {
  width: 7.5em;
  height: 10.5em;
  background-position: -38.25em -10.75em; }

/* line 250, ../sass/playing-cards.sass */
.spades-10 {
  width: 7.5em;
  height: 10.5em;
  background-position: -30.625em -10.75em; }

/* line 256, ../sass/playing-cards.sass */
.spades-2 {
  width: 7.5em;
  height: 10.5em;
  background-position: -23em -10.75em; }

/* line 262, ../sass/playing-cards.sass */
.spades-3 {
  width: 7.5em;
  height: 10.5em;
  background-position: -15.375em -10.75em; }

/* line 268, ../sass/playing-cards.sass */
.spades-4 {
  width: 7.5em;
  height: 10.5em;
  background-position: -7.75em -10.75em; }

/* line 274, ../sass/playing-cards.sass */
.spades-5 {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -10.75em; }

/* line 280, ../sass/playing-cards.sass */
.spades-6 {
  width: 7.5em;
  height: 10.5em;
  background-position: -53.5em -0.125em; }

/* line 286, ../sass/playing-cards.sass */
.spades-7 {
  width: 7.5em;
  height: 10.5em;
  background-position: -45.875em -0.125em; }

/* line 292, ../sass/playing-cards.sass */
.spades-8 {
  width: 7.5em;
  height: 10.5em;
  background-position: -38.25em -0.125em; }

/* line 298, ../sass/playing-cards.sass */
.spades-9 {
  width: 7.5em;
  height: 10.5em;
  background-position: -30.625em -0.125em; }

/* line 304, ../sass/playing-cards.sass */
.spades-A {
  width: 7.5em;
  height: 10.5em;
  background-position: -23em -0.125em; }

/* line 310, ../sass/playing-cards.sass */
.spades-J {
  width: 7.5em;
  height: 10.5em;
  background-position: -15.375em -0.125em; }

/* line 316, ../sass/playing-cards.sass */
.spades-K {
  width: 7.5em;
  height: 10.5em;
  background-position: -7.75em -0.125em; }

/* line 322, ../sass/playing-cards.sass */
.spades-Q {
  width: 7.5em;
  height: 10.5em;
  background-position: -0.125em -0.125em; }

/* line 17, ../sass/style.sass */
body {
  font-family: "Helvetica Neue", "Roboto", Helvetica, sans-serif;
  color: white; }

/* line 23, ../sass/style.sass */
h1, h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500; }

/* line 29, ../sass/style.sass */
h3, h4, h5 {
  margin: 0.625em 0;
  text-align: center;
  text-decoration: underline;
  font-size: 1.25em;
  font-weight: 200; }

/* line 37, ../sass/style.sass */
h6 {
  text-align: center;
  color: white;
  font-size: 40%; }
  /* line 41, ../sass/style.sass */
  h6 a.code {
    color: inherit; }

/* line 44, ../sass/style.sass */
button {
  cursor: pointer;
  border: 0;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: white 0.0625em 0.0625em -0.125em;
  color: #910000;
  background: url(/img/button.jpg);
  background-size: 5em 2.5em;
  display: block;
  margin: 0.625em auto;
  width: 5em;
  height: 2.5em;
  font-size: 1em; }
  /* line 57, ../sass/style.sass */
  button:active, button:hover {
    opacity: 0.8; }
  /* line 59, ../sass/style.sass */
  button.big {
    background-size: 10em 2.75em;
    width: 10em;
    height: 2.75em; }
  /* line 64, ../sass/style.sass */
  button span.title {
    font-size: 0.875em;
    font-weight: bold; }

/* line 69, ../sass/style.sass */
div.ng-view {
  overflow: scroll;
  position: relative;
  margin: 0 auto;
  background: url(/img/bg-image.jpg) no-repeat;
  background-size: 100% 100%; }

/* line 80, ../sass/style.sass */
input.username-input {
  display: block;
  width: 15em;
  height: 1.25em;
  margin: 0.625em auto;
  font-size: 1.125em;
  font-weight: bold; }

/* line 89, ../sass/style.sass */
div.avatar-picker {
  width: 18.125em;
  margin: 0 auto;
  overflow: scroll; }

/* line 94, ../sass/style.sass */
div.avatar-preview {
  cursor: pointer;
  float: left;
  margin: 0 0.625em 0.625em 0;
  border: 0.0625em solid #e2e2e2;
  width: 5.5em;
  height: 5.5em;
  background-color: white; }
  /* line 102, ../sass/style.sass */
  div.avatar-preview:nth-child(3n + 1) {
    margin-right: 0; }

/* line 105, ../sass/style.sass */
img.avatar-option {
  display: block;
  width: 5.5em;
  height: 5.5em; }

/* line 114, ../sass/style.sass */
ul.games-list li.game {
  width: 17.5em;
  margin: 0.625em auto;
  clear: both;
  overflow: hidden; }
  /* line 119, ../sass/style.sass */
  ul.games-list li.game img.avatar {
    margin-right: 0.625em;
    -webkit-border-radius: 1.25em;
    -moz-border-radius: 1.25em;
    -ms-border-radius: 1.25em;
    -o-border-radius: 1.25em;
    border-radius: 1.25em;
    border: 0.125em solid #333333;
    background-color: white;
    width: 2.5em;
    height: 2.5em;
    display: block;
    float: left; }
  /* line 128, ../sass/style.sass */
  ul.games-list li.game strong.player-name {
    float: left;
    display: block;
    width: 7.8125em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 2.5em;
    margin-right: 0.625em; }
  /* line 137, ../sass/style.sass */
  ul.games-list li.game button.join {
    float: right;
    margin: 0; }

/* line 141, ../sass/style.sass */
img.loader {
  display: block;
  width: 2em;
  height: 2em;
  margin: 0.625em auto;
  opacity: 0.9; }

/* line 152, ../sass/style.sass */
div.deck-of-cards {
  position: relative;
  -webkit-perspective: 1000; }

/* line 157, ../sass/style.sass */
div.card {
  margin: 0.3125em;
  width: 4.25em;
  height: 5.9375em;
  position: absolute;
  float: left;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.66s linear, top 0.66s linear, left 0.66s linear, opacity 0.2s linear; }
  /* line 166, ../sass/style.sass */
  div.card.flipped-true {
    -webkit-transform: rotatey(180deg); }
  /* line 168, ../sass/style.sass */
  div.card:active {
    opacity: 0.65; }
  /* line 170, ../sass/style.sass */
  div.card .face {
    -webkit-backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%; }
    /* line 176, ../sass/style.sass */
    div.card .face.back {
      -webkit-transform: rotatey(180deg);
      box-sizing: border-box; }
    /* line 179, ../sass/style.sass */
    div.card .face div.design {
      font-size: 50%;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      -ms-border-radius: 0.25em;
      -o-border-radius: 0.25em;
      border-radius: 0.25em; }

/* line 183, ../sass/style.sass */
div.high-low-count {
  position: absolute;
  top: 8.125em;
  left: 0.9375em;
  background: rgba(255, 255, 255, 0.8);
  width: 3.75em;
  color: #910000; }
  /* line 190, ../sass/style.sass */
  div.high-low-count span.title {
    display: block;
    text-align: center;
    font-size: 0.5em;
    font-weight: bold; }
  /* line 196, ../sass/style.sass */
  div.high-low-count span.value {
    display: block;
    text-align: center; }

/* line 201, ../sass/style.sass */
div.hud {
  position: absolute; }
  /* line 205, ../sass/style.sass */
  div.hud div.username {
    position: relative;
    top: 0.5em;
    left: 2.5em; }
    /* line 209, ../sass/style.sass */
    div.hud div.username span.title {
      font-size: 0.75em; }
  /* line 212, ../sass/style.sass */
  div.hud div.avatar {
    float: left;
    position: relative;
    z-index: 2;
    width: 2.5em;
    height: 2.5em; }
  /* line 219, ../sass/style.sass */
  div.hud img.avatar {
    -webkit-border-radius: 1.25em;
    -moz-border-radius: 1.25em;
    -ms-border-radius: 1.25em;
    -o-border-radius: 1.25em;
    border-radius: 1.25em;
    border: 0.125em solid #333333;
    width: 100%;
    height: 100%;
    background-color: white; }
  /* line 226, ../sass/style.sass */
  div.hud div.info-container {
    float: left;
    position: relative;
    top: 0.625em;
    left: -0.75em;
    width: 5.3125em; }
    /* line 233, ../sass/style.sass */
    div.hud div.info-container div.hit-points-container {
      border: 0.0625em solid #9b8566;
      -webkit-border-radius: 0 0.25em 0.25em 0;
      -moz-border-radius: 0 0.25em 0.25em 0;
      -ms-border-radius: 0 0.25em 0.25em 0;
      -o-border-radius: 0 0.25em 0.25em 0;
      border-radius: 0 0.25em 0.25em 0;
      width: 5.3125em;
      height: 1em;
      background: url(/img/hp-bg.jpg); }
    /* line 240, ../sass/style.sass */
    div.hud div.info-container div.hit-points {
      float: left;
      background: #910000;
      width: 100%;
      height: 1em;
      line-height: 1em;
      color: white;
      -webkit-border-radius: 0 0.25em 0.25em 0;
      -moz-border-radius: 0 0.25em 0.25em 0;
      -ms-border-radius: 0 0.25em 0.25em 0;
      -o-border-radius: 0 0.25em 0.25em 0;
      border-radius: 0 0.25em 0.25em 0;
      -webkit-transition: width 0.36s linear; }
      /* line 249, ../sass/style.sass */
      div.hud div.info-container div.hit-points span.value {
        display: block;
        float: right;
        margin: 0 0.375em;
        font-size: 0.6875em; }
    /* line 255, ../sass/style.sass */
    div.hud div.info-container div.hand-info {
      float: left;
      clear: both; }
      /* line 258, ../sass/style.sass */
      div.hud div.info-container div.hand-info span.value {
        display: block;
        text-indent: 1.375em;
        font-weight: bold;
        font-size: 0.875em; }

/* line 265, ../sass/style.sass */
div.move-options {
  position: absolute;
  top: 10em;
  left: 6.625em; }

/* line 270, ../sass/style.sass */
div.player-you {
  top: 18.75em;
  left: 11.875em; }

/* line 274, ../sass/style.sass */
div.player-opponent {
  top: 1.25em;
  left: 11.875em; }

/* line 278, ../sass/style.sass */
div.effect {
  position: absolute;
  width: 1.875em;
  height: 1.875em;
  color: #910000; }
  /* line 283, ../sass/style.sass */
  div.effect span.value {
    font-size: 1.25em; }

/* line 286, ../sass/style.sass */
.effect-enter-setup {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }
  /* line 290, ../sass/style.sass */
  .effect-enter-setup.effect-enter-start {
    -webkit-transform: translateY(-3.125em);
    -moz-transform: translateY(-3.125em);
    -ms-transform: translateY(-3.125em);
    -o-transform: translateY(-3.125em);
    transform: translateY(-3.125em);
    opacity: 1; }

/* line 294, ../sass/style.sass */
.effect-leave-setup {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 1;
  -webkit-transform: translateY(-3.125em);
  -moz-transform: translateY(-3.125em);
  -ms-transform: translateY(-3.125em);
  -o-transform: translateY(-3.125em);
  transform: translateY(-3.125em); }
  /* line 298, ../sass/style.sass */
  .effect-leave-setup.effect-leave-start {
    -webkit-transform: translateY(-9.375em);
    -moz-transform: translateY(-9.375em);
    -ms-transform: translateY(-9.375em);
    -o-transform: translateY(-9.375em);
    transform: translateY(-9.375em);
    opacity: 0; }

/* line 302, ../sass/style.sass */
button.quit {
  position: absolute;
  bottom: 0.625em;
  right: 0.625em; }
